.card-img{
    height: 300px;
    width: 100px;
}

.bg-home{
    background: #011419;
    padding: 30px;
    
}

.cardd {
    height: 650px;
    width: 400px;
}

.text-card{
    height: 170px;
    margin: 4px auto;
    text-overflow: auto;
    object-fit: contain;
}