.card-img{
    height: 300px;
    width: 100px;
}

.bg-home{
    background: #011419;
    padding: 30px;
    
}

.cardd {
    height: 650px;
    width: 400px;
}

.text-card{
    height: 150px;
    margin-top: 10px;
    float: right;
    display: flex;
    align-items: inherit;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    
}

.boton-price{
    height: 30px;
    background-color: slateblue;
}